{
  "presets": [
    ["env"]
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", { "exclude": [ "app/assets/javascripts/tests/**/*.spec.js" ] }]
      ]
    }
  }
}
