<head>
  <title><%= app_title %></title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <%= frontend_app_asset_tags('global') %>
  <%= frontend_app_asset_tags %>
</head>
