<!DOCTYPE html>
<html>
  <head>
    <title>Amelia</title>
    <%= csrf_meta_tags %>

    <%= application_link_tags "#{params[:controller]}/#{params[:action]}" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
